{
    "Servers": {
      "1": {
        "Name": "Default db",
        "Group": "Databases",
        "Port": 5432,
        "Username": "postgres",
        "Host": "postgres_db",
        "SSLMode": "prefer",
        "MaintenanceDB": "postgres"
      }
    }
}